<mat-card [formGroup]="form">


    <form>
        <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="12px">

            <!-- COUNTRY ADD / SELECT -->

            <mat-form-field style="margin-top: auto">
                <mat-label>Country</mat-label>
                <mat-select [formControl]="country" name="country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{ country.countryName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

         



            <!-- PORT ADD / SELECT -->

            <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="12px">
                <mat-form-field>
                    <mat-label>Port</mat-label>
                    <mat-select [formControl]="port" name="port">
                        <mat-option *ngFor="let port of ports" [value]="port">
                            {{ port.portName }} - {{port.unlocs}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div  *ngIf="showAdd"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                    <mat-form-field>
                        <mat-label>Port</mat-label>
                        <input matInput [formControl]="portInput" name="portInput">
                    </mat-form-field>

                    <button mat-icon-button color="primary" (click)="addPort(newPort!,selectedCountry!)"
                        [disabled]="!form.get('country')?.dirty">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
            <!-- PLTSTATION ADD / SELECT -->

            <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="12px">
                <mat-form-field>
                    <mat-label>pltStation</mat-label>
                    <mat-select [formControl]="pltStation" name="pltStation">
                        <mat-option *ngFor="let pltStation of pltStations" [value]="pltStation">
                            {{ pltStation.pltStationName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div  *ngIf="showAdd" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                    <mat-form-field>
                        <mat-label>New Plt/S</mat-label>
                        <input matInput [formControl]="pltStationInput" name="pltStationInput">
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)="addPltStation(newPltStationyName!,selectedPort!)"
                        [disabled]="!form.get('pltStationInput')?.dirty">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>


            <!-- Berth ADD / SELECT -->

            <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="12px">
                <mat-form-field>
                    <mat-label>Berth</mat-label>
                    <mat-select [formControl]="berth" name="berth">
                        <mat-option *ngFor="let berth of berths" [value]="berth">
                            {{ berth.berthName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="showAdd" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                    <mat-form-field>
                        <mat-label>New Berth</mat-label>
                        <input matInput [formControl]="berthInput" name="berthInput">
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)="addBerth(newBerthName!,selectedPort!)"
                        [disabled]="!form.get('berthInput')?.dirty">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div> 

    </form>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="12px">
    <button mat-raised-button [disabled]="!berth.dirty" color="primary" (click)="passLocation()">Add Port &
        Berth</button>

        <button mat-icon-button color="primary"  (click)="showAddPPB()"
        >
          <mat-icon *ngIf="!showAdd">expand_circle_down</mat-icon> 
          <mat-icon *ngIf="showAdd" style="transform: rotate(180deg)" >expand_circle_down</mat-icon> 
      </button>
    </div> 
</mat-card>