<div>
    <button style="margin-top: 12px;margin-left: 8px" mat-raised-button color="primary"  (click)="addNext()">
        <mat-icon>add</mat-icon>
        Add Note
    </button>

    <form [formGroup]="form" style="margin-top: 12px; padding-bottom: 8px;">
        <div formArrayName="items" *ngFor="let item of getControls(); let i = index" fxLayout="row"
            fxLayoutAlign="space-around stretch" style="margin-left: 8px; margin-top: 3px">
            <mat-card fxFlex="grow">
                <div [formGroupName]="i">
                    <mat-form-field style=" width: 100%;">
                        <input style="font-weight:bold " matInput type="text" placeholder="Title"
                            formControlName="portTitle">
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="20" formControlName='portNote'></textarea>
                    </mat-form-field>
                </div>
            </mat-card>
            <div class="padding" fxLayout="column" fxLayoutAlign="start stretch">
                <button mat-icon-button color="default" [disabled]="items.controls[i].get('portNote')!.untouched"
                    (click)="saveNote(i)">
                    <mat-icon *ngIf="items.controls[i].get('portNote')!.dirty ===true" style="color: #004a9f">save
                    </mat-icon>
                    <mat-icon *ngIf="items.controls[i].get('portNote')!.pristine === true" style="color: #989797">
                        save</mat-icon>

                </button>
                 
                <button mat-icon-button color="default" style="color: #004a9f" (click)="remove(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </form>

</div>