<mat-card class="main-card-background" [formGroup]="form">

    <!-- LEG PORT GLOBAL INFO -->

    <ng-container *ngIf="!(isNewLoc$ | async);else elseTemplate">
       
   <app-leg-planner (location)="reciveLocation($event)"></app-leg-planner>
   
    </ng-container>

    <ng-template #elseTemplate>

        <mat-card-subtitle>
            <div class="main-card" fxLayout="row" fxLayoutAlign="space-around stretch" flex="grow" fxLayoutGap="24px">
                <h2> {{selectedPortName | titlecase}}</h2>
                <h2>></h2>
                <h2> {{selectedPltStationName | titlecase}}</h2>
                <h2>></h2>
                <h2> {{selectedBerthName | titlecase}}</h2>
                <h2>-</h2> 

                <mat-form-field fxFlex="100px">
                    <mat-label class="main-card">UTC Time</mat-label>
                    <input matInput type="number" placeholder="Ex. 5 Hrs" [formControl]="utcTime" step="0.5" min="-12"
                        max="12">
                    <span matSuffix>Hrs</span>
                </mat-form-field>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]='!utcTime.dirty' aria-label="Example icon-button with a menu"
                        style="margin-right: 24px">
                        <mat-icon>sailing</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialogSeaPassage('7ms', '1ms')">
                            <mat-icon>sailing</mat-icon>
                            <span>Sea Passage</span>
                        </button>
                        <button mat-menu-item (click)="openDialogCanalTransit('7ms', '1ms')">
                            <mat-icon>compare_arrows</mat-icon>
                            <span>Canal Transit</span>
                        </button>
                        <button mat-menu-item (click)="openDialogPiloting('7ms', '1ms')">
                            <mat-icon>alt_route</mat-icon>
                            <span>Piloting</span>
                        </button>
                        <button mat-menu-item (click)="openDialogOperation('7ms', '1ms')">
                            <mat-icon>file_download</mat-icon>
                            <span>Operation</span>
                        </button>

                        <button mat-menu-item (click)="openDialogShifting('7ms', '1ms')">
                            <mat-icon>repeat</mat-icon>
                            <span>shifting</span>
                        </button>
                        <button mat-menu-item (click)="openDialogLayby('7ms', '1ms')">
                            <mat-icon>hourglass_empty</mat-icon>
                            <span>layby</span>
                        </button>
                        <button mat-menu-item (click)="openDialogRestock('7ms', '1ms')">
                            <mat-icon>local_gas_station</mat-icon>
                            <span>Bunkering</span>
                        </button>
                        <button mat-menu-item (click)="openDialogWaitingAtSea('7ms', '1ms')">
                            <mat-icon>anchor</mat-icon>
                            <span>Anchor / Drifting</span>
                        </button>
                    </mat-menu> 
                    <button mat-icon-button color="default" utcTime="" (click)="moveUPLocationActivitey()">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                    <button mat-icon-button color="default" utcTime="" (click)="editLoc()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="default" utcTime="" (click)="deleteLocationActivitey()">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="default" utcTime="" (click)="moveDownLocationActivitey()">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-subtitle>
   
    </ng-template>

    <!-- LEG ACTIVITIES DETAILS -->
    <div *ngIf="(rotationService.isShort$ | async) === false">
        <div class="marginTop"*ngFor="let act of activities let i = index">
            <app-activity [indexActivity]='i' [indexLocationActivityActivity]="indexLocation" [activity]="act"
               ></app-activity>
        </div>
    </div>

    <div *ngIf="(rotationService.isShort$ | async) === true">
        <div class="marginTop" *ngFor="let act of activities let i = index">
            <app-activity-short [indexActivity]='i' [indexLocationActivityActivity]="indexLocation" [activity]="act"
               ></app-activity-short>
        </div>
    </div>

</mat-card>