<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  ETA & Bunker Calculator
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    <h4 class="name">Alberto Lunardini</h4>
    <p class="designation">Test</p>

    <mat-divider></mat-divider>
    <div fxLayoutGap="18px"> 
    <button mat-button class="menu-button" routerLink="/location">
      <mat-icon>add_location_add</mat-icon>
      <span>Ports</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>public</mat-icon>
      <span>Rotation</span>
    </button> 
    <button mat-button class="menu-button" routerLink="/bunker">
      <mat-icon>local_gas_station</mat-icon>
      <span>Engine & Auxiliares</span>
    </button> 
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>