<h2>ETA & ROB</h2>

<div fxLayout="column" fxLayoutAlign="space-around center" >

    <h2 class="title">Side Bar Menu</h2>
    <img class="imgHelp" src="assets/help/side_bar.png" alt="image">
    <h2 class="title">Countries - Ports - Pilot Station - Berths</h2>
    <img class="imgHelp" src="assets/help/ports.png" alt="image">
    <h2 class="title">Notes - Agencies</h2>
    <img class="imgHelp" src="assets/help/notes.png" alt="image">
    <h2 class="title">Ship Bunker Consumption</h2>
    <img class="imgHelp" src="assets/help/bunker.png" alt="image">
    <h2 class="title">Rotation</h2>
    <img class="imgHelp" src="assets/help/rotation_header.png" alt="image">
    <h2 class="title">Next Port of Call Setup</h2>
    <img class="imgHelp" src="assets/help/activity_header_setup.png" alt="image">
    <h2 class="title">Activities per Port set UTC Zone</h2>
    <img class="imgHelp" src="assets/help/activity_header.png" alt="image">
    <h2 class="title">Available Activities per Port or Leg</h2>
    <img class="imgHelp" src="assets/help/activity_menu.png" alt="image">
    <h2 class="title">Activity Card</h2>  
    <h2 class="title">See Passage Card</h2>
    <h3 class="text2">You can add as many sea passage you like and mark with different data exemple:</h3>
    <h3 class="text2">First sea passage marked with ECA Area and No EoSP</h3>
    <h3 class="text2">This Leg its between Pilot station and the end of ECA</h3>
    <h3 class="text2">Second sea passage marked with NO ECA Area and No EoSP</h3>
    <h3 class="text2">This Leg its the ocean passage between two ECA</h3>
    <h3 class="text2">Third sea passage marked with ECA Area and EoSP</h3>
    <h3 class="text2">This Leg its between start of ECA and arrival pilot station</h3>
    <img class="imgHelp" src="assets/help/seapassage.png" alt="image"> 
    <h2 class="title">Piloting Card</h2>
    <h3 class="text2">Select Pilotag Inbound or Outbound</h3>
    <img class="imgHelp" src="assets/help/piloting.png" alt="image">
    <h2 class="title">Operation Mask</h2>
    <img class="imgHelp" src="assets/help/operation.png" alt="image">
    <h2 class="title">Shifting Mask</h2>
    <h3 class="text2">Shifting Monouvering inside port or from anchor to berth</h3>
    <h3 class="text2">You can select new berth</h3>
    <img class="imgHelp" src="assets/help/shifting.png" alt="image">
    <h2 class="title">Layby Berth Mask</h2>
    <h3 class="text2">A berth Used for non commercila operations</h3>
    <img class="imgHelp" src="assets/help/layby.png" alt="image">
    <h2 class="title">Restock Bunker Mask</h2>
    <h3 class="text2">Add bunker to the ROB</h3>
    <img class="imgHelp" src="assets/help/bunker_mask.png" alt="image">
    <h2 class="title">Canal Transit Mask</h2>
    <h3 class="text2">Its considered as specific leg between two ports</h3>
    <h3 class="text2">Bunker consumption its fixed amount due reduced speed</h3>
    <img class="imgHelp" src="assets/help/canal.png" alt="image">
    <h2 class="title">Anchoring/Drifting Mask</h2>
    <img class="imgHelp" src="assets/help/anchor_drifting.png" alt="image">



</div>
