<mat-card>

    <mat-card-title> ETA & ROB</mat-card-title>
    <mat-card-subtitle>Version: {{version}}</mat-card-subtitle>
    <mat-card-subtitle>Year: {{year}}</mat-card-subtitle>
    <mat-card-subtitle>Developped by: Alblerto Lunardini</mat-card-subtitle>
    <mat-card-subtitle ><a [href]="emailstring" >app.user.info@icloud.com</a></mat-card-subtitle> 
    <div div fxLayout="row" fxLayoutAlign="end center" flex="grow" style="padding-top: 8px"> 
        <button mat-button color="primary" mat-dialog-close >Close</button>  
    </div>

</mat-card>
